.section1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: rgb(254, 225, 153);
   
    
}
.one{
    background-color: rgb(240, 180, 17);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:29 ;
    background-image:url('https://t3.ftcdn.net/jpg/07/86/57/62/360_F_786576265_rnxiQpEhHSElKeQJ9eHAx0NiflxwX8gb.jpg') ;
    background-size: cover;
}
.two{
    background-color: rgb(240, 180, 17);
    grid-row-start: 1;
    grid-row-end: 15;
    text-align: center;

}
.three{
    background-color: rgb(240, 180, 17);
    grid-row-start: 15;
    grid-row-end: 29;
    text-align: center;

}
.four{
    background-color: rgb(240, 180, 17);
 
}
.five{
    background-color: rgb(240, 180, 17);
    
}

.menu{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(5,1fr);
    text-align: center;
    height: 25px;
    background-color:rgb(254, 225, 153) ;
    
    
}
.six{
    background-color: rgb(240, 180, 17);
    
}
.seven{
    background-color: rgb(240, 180, 17);
    
}
.eight{
    background-color: rgb(240, 180, 17);
    
}
.section11{
    background-color: rgb(254, 225, 153) ;
    margin-left: 100px;
    margin-right: 100px;
    
}
.terry{
    background-color: rgb(226, 159, 14);
    position: relative;
    top: 80px;
   left: 30px;
   font-size: 20px;
}
.pretty{
    background-color: rgb(226, 159, 14);
    position: relative;
    top: 120px;
    right:125px ;
    font-size: 10px;
}
.onepoint{
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 30px;
}
.tacos{
    position: relative;
    top: 30px;

}
.menuone{
    position: relative;
    top: 5px;
}
.section2{
    display: flex;
    justify-content:space-between;
    background-color: rgb(254, 225, 153) ;
    margin-left: 100px;
    margin-right: 100px;
    

   
}
.taco{
    border: 2px solid black; 
   }
.beer{
    border: 2px solid black;
}
.wine{
    border: 2px solid black;
}
.music{
    border: 2px solid black;
}
.section1-2{
    position: relative;
    left:  500px;
    bottom:180px;
}
.img{
    position: relative;
    left: 80px;
    top: 20px;
    mix-blend-mode:multiply;
}
.imgbg{
    background-color:rgb(254, 225, 153) ;
    margin-left: 100px;
    margin-right: 100px;

}
.emoji1{
    font-size: 30px;
    position: relative;
    left: 65px;

}
.emoji2{
    font-size: 30px;
    position: relative;
    left: 65px;

    
}
.emoji3{
    font-size: 30px;
    position: relative;
    left: 65px;
    
}
.emoji4{
    font-size: 30px;
    position: relative;
    left: 65px;
    
}
.taco1{
    position: relative;
    left: 65px;

}
.beer1{
    position: relative;
    left: 65px;

}
.wine1{
    position: relative;
    left: 65px;

}
.music1{
    position: relative;
    left: 65px;

}
.tacop2{
    position: relative;
    left: 45px;
}
.beerp2{
    position: relative;
    left: 45px;
}
.winep2{
    position: relative;
    left: 45px;
}
.musicp2{
    position: relative;
    left: 45px;
}
.a{
    background-color:rgb(226, 159, 14);
    padding: 10px;
    text-decoration:none;
}
a:after {
    content: ' \2192';
}   


.gallery{
align-items: center;
background-color:rgb(254, 225, 153) ;
margin-left: 100px;
margin-right: 100px;

}
.img1{
    height: 100px;
    position: relative;
    left: 5px;
}
.img2{
    height: 100px;
    position: relative;
    left: 10px;
}
.img3{
    height: 100px;
    position: relative;
    left: 15px;
}
.img4{
    height: 100px;
    position: relative;
    left: 20px;
}
.img5{
    height: 100px;
    position: absolute;
    left:950px;
}
.img6{
    height: 100px;
    position: relative;
    left: 5px;
}
.img7{
    height: 100px;
    position: relative;
    left: 10px;
}
.img8{
    height: 100px;
    position: relative;
    left: 15px;
}
.img9{
    height: 100px;
    position: relative;
    left:20px;
}
.img10{
    height: 100px;
    position: absolute;
    left:950px;
}